[user]
  name = SAWADA Tadashi
  email = cesare@mayverse.jp

[core]
  precomposeunicode = true
  quotepath = false
  autocrlf = input
  excludesfile = ~/.gitignore_global
  pager = less -R -F -X

[alias]
  b   = branch
  ci  = commit
  co  = checkout
  dfc = diff --cached
  dfn = diff --name-only
  st  = status
  rpo = remote prune origin
  push-f = push --force-with-lease

[color]
  branch = auto
  diff = auto
  status = auto
  ui = always

[ghq]
  root = ~/git

[grep]
  linenumber = true

[merge]
  ff = yes

[push]
  default = simple
