[user]
  name = SAWADA Tadashi
  email = cesare@mayverse.jp

[color]
  diff = auto
  status = auto
  branch = auto

[push]
  default = simple

[core]
  precomposeunicode = true
  quotepath = false

[alias]
  ci = commit
  co = checkout
  st = status
  b  = branch
  rpo = remote prune origin
  dfc = diff --cached
  dfn = diff --name-only

[ghq]
  root = ~/git
